@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}

body {
  background-color: #ddd;
	margin: 0;
  padding: 0;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

section {
  margin-left: auto;
  margin-right: auto;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}

nav h1 {
  padding-top: 25px;
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 16pt;
  font-weight: 400;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 10px 20px 16px;
  list-style: none;
  font-size: 17px;
  margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    width: 50%;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: auto;
  background-color: #3397DB;
  display: flex;
  align-items: center;
}

.filter-options h2 {
  color: white;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
.restaurants-list {
  background-color: #f3f3f3;
  list-style: none;
  padding: 30px 15px 60px;
  text-align: center;
  margin: auto;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 5px;
}

.restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 10px;
  min-height: 400px;
  max-height: 400px;
  padding: 15px 15px;
  text-align: left;
  min-width: 270px;
  max-width: 270px;
}

.restaurants-list .restaurant-img {
  min-height: 248px;
  max-width: 270px;
}

.restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

.restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

.restaurants-list p:first-of-type {
  font-size: 12pt;
  font-weight: 800;
}

.restaurants-list li a {
  background-color: orange;
  color: #fff;
  display: block;
  font-size: 10pt;
  margin: 15px auto 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside #maincontent {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-row-gap: 10px;
}

.inside #info-block {
  margin: 0;
  min-height: 700px;
  max-height: 700px;
  order: 1;
}

.inside #map-container {
  height: 700px;
  padding: 0;
  margin: 0;
  order: 2;
}

.inside #map {
  background-color: #ccc;
  width: 100%;
  height: 100%;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 0 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
	max-width: 90%;
  max-height: 750px;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
  color: #f18200;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}

#restaurant-container {
  padding: 0 20px 0;
}

#reviews-container {
  padding: 30px 40px 30px;
  order: 3;
  grid-column-start: 1;
  grid-column-end: span 2;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  list-style-type: none;
  padding: 10px 20px 20px;
  margin-bottom: 15px;
  max-width: 100%;
}

#reviews-list li p {
  margin: 0 0 10px;
  font-size: 12pt;
}
#reviews-list li p:first-child, p:nth-child(2), p:nth-child(3) {
 font-weight: 800;
}

#restaurant-hours td {
  color: #000030;
  font-weight: bold;
}


/* Design for Small Screens */
@media screen and (min-width: 320px) and (max-width: 399px) {
  nav {
    height: 50px;
  }

  nav h1 {
    padding-top: 10px;
    margin: auto;
  }

  nav h1 a {
    font-size: 14pt;
    letter-spacing: 2px;
  }

  .inside #maincontent {
    grid-template-columns: 100%;
    height: auto;

  }

  .inside #info-block {
    margin: 0;
    height: auto;
    order: 2;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .inside #map-container {
    padding: 0;
    margin: 0;
    order: 1;
    height: 325px;
  }

  .inside #map {
    background-color: #ccc;
    width: 100%;
    height: 325px;
  }

  #reviews-container {
    padding: 30px 40px 30px;
    order: 3;
    height: auto;
  }

  #reviews-list li p {
    font-size: 8pt;
  }
  .leaflet-bottom.leaflet-right .leaflet-control-attribution {
    font-size: 0.7em;
  }

  #map {
    height: 325px;
  }

  .filter-options h2 {
    display: none;
  }

  .restaurants-list {
    padding: 0;
    margin-top: 10px;
  }

  .restaurants-list li {
    margin: 0 0 10px;
    padding: 5px;
    max-height: 333px;
    min-height: 325px;
    min-width:90%;
    max-width:90%;

  }

  .restaurants-list .restaurant-img {
    min-height: 200px;
    max-height: 100px;
    min-width: 95%;
    max-width: 95%;
    display: block;
    margin: 10px auto;
  }

  .restaurants-list li h1 {
    margin: 5px 0 0;
    text-align: center;
  }

  .restaurants-list p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .restaurants-list p:first-of-type {
    display: none;
  }

  .restaurants-list li a {
    margin-left: 7px;
    margin-right: 7px;
  }

  #footer {
    align-items: center;
    padding: 15px;
  }

}

@media screen and (min-width: 400px) and (max-width: 499px) {
  nav {
    height: 50px;
  }

  nav h1 {
    padding-top: 10px;
    margin: auto;
  }

  nav h1 a {
    font-size: 14pt;
    letter-spacing: 2px;
  }

  .leaflet-bottom.leaflet-right .leaflet-control-attribution {
    font-size: 0.8em;
  }

  #map {
    height: 300px;
  }

  .filter-options {
    justify-content: center;
  }

  .filter-options h2 {
    display: none;
  }
  .restaurants-list {
    padding: 0;
    margin-top: 10px;
  }

  .restaurants-list li {
    min-width: 95%;
    max-width: 95%;
    padding: 0;
    margin: 0 auto;
    min-height: 175px;
    max-height: 175px;
  }

  .restaurants-list .restaurant-img {
    min-height: 85%;
    max-height: 85%;
    min-width: 40%;
    max-width: 40%;
    margin: 13px 13px 10px 13px;
    float: left;
  }

  .restaurants-list li h1 {
    margin-top: 20px;
    font-size: 11pt;
    text-align: left;
  }

  .restaurants-list p {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .restaurants-list p:first-of-type {
    display: none;
  }

  .restaurants-list li a {
    display: inline-block;
  }

}

@media screen and (min-width: 500px) and (max-width: 599px) {
  #map {
    height: 350px;
  }

  .filter-options {
    justify-content: center;
  }

  .filter-options h2 {
    display: none;
  }

}

@media screen and (min-width: 500px) and (max-width: 700px) {
  .restaurants-list {
    display: flex;
    flex: auto;
    justify-content:flex-start;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .restaurants-list li {
    min-width: 95%;
    max-width: 95%;
    padding: 0;
    margin: 10px auto;
    min-height: 200px;
    max-height: 200px;
  }

  .restaurants-list .restaurant-img {
    min-height: 90%;
    max-height: 90%;
    min-width: 40%;
    max-width: 40%;
    margin: 10px 15px 10px 10px;
    float: left;
  }

  .restaurants-list li h1 {
    margin-top: 25px;
  }

  .restaurants-list li a {
  display: inline-block;
  }

}

@media screen and (min-width: 850px) {

  body {
    width: 850px;
    margin-right: auto;
    margin-left: auto;
  }

}