@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	line-height: 1.5;
}

body {
  background-color: #eee;
	margin: 0;
  padding: 0;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

section {
  margin-left: auto;
  margin-right: auto;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 10px;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}

nav h1 {
  padding-top: 25px;
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 10px 20px 16px;
  list-style: none;
  font-size: 17px;
  margin: 0;
  grid-column-start: 1;
  grid-row-start: 1;
  order: 1;
	background-color: #dee;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    width: 50%;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;

}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: auto;
  background-color: #3397DB;
  display: flex;
  align-items: center;
}

.filter-options h2 {
  color: white;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 13px;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
.restaurants-list {
  background-color: #f3f3f3;
  list-style: none;
  padding: 30px 15px 60px;
  text-align: center;
  margin: auto;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 5px;
}

.restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 10px;
	height: auto;
  padding: 15px 15px;
  text-align: left;
  min-width: 270px;
  max-width: 270px;
}

.restaurants-list .restaurant-img {
  min-height: 248px;
  max-width: 270px;
}

.restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

.restaurants-list p {
  margin: 0;
  font-size: 14px;
}

.restaurants-list p:first-of-type {
  font-size: 14px;
  font-weight: 800;
}

.restaurants-list li a {
  background-color: orange;
  color: #fff;
  display: block;
  font-size: 13px;
  margin: 15px auto 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside #maincontent {
  display: grid;
  grid-template-rows: 15% 50%;
  grid-template-columns: 50% 50%;
}

.inside #info-block {
  margin: 0;
	height: auto;
  grid-column-start: 1;
  grid-row-start: 2;
  order: 2;
	background-color: #dee;
	padding-top: 10px;
	padding-bottom: 25px;
	border-bottom: 2px solid #ddd;
}

.inside #map-container {
  height: auto;
  padding: 0;
  margin: 0;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
	border-bottom: 2px solid #ddd;
}

.inside #map {
  background-color: #ccc;
  width: 100%;
  min-height: 300px;
	height: 100%;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 0;
  margin: 0;
  text-transform: uppercase;
  line-height: 1.1;
  padding-bottom: 10px;
  text-align: center;
}

#restaurant-img {
	max-width: 90%;
  max-height: 750px;
  display: block;
  margin: auto;
}

#restaurant-address {
  font-size: 16px;
  margin: 10px 0px;
  color: #f18200;
  text-align: center;
}

#restaurant-hours {
  max-width: 90%;
  margin: 0 auto;
}

#restaurant-hours td {
  color: #000030;
  font-weight: bold;
}

#restaurant-hours td:first-child {
  text-align: left;
}

#restaurant-hours td:nth-child(2) {
  max-width: 120px;
  white-space: normal;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 10px;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
  margin: 5px auto;
}

#restaurant-container {
  padding: 0 20px 0;
}


#reviews-container {
  padding: 15px 20px;
  order: 3;
  grid-column-start: 1;
  grid-column-end: span 2;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 28px;
  font-weight: 300;
	text-transform: uppercase;
  padding-bottom: 1px;
	margin-bottom: 10px;
	text-indent: 10px;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  list-style-type: none;
  padding: 10px 20px 20px;
  margin-bottom: 15px;
  max-width: 100%;
}

#reviews-list li p {
  margin: 0 0 10px;
  font-size: 16px;
}

#reviews-list li {
	height: auto;
	padding: 10px 10px 10px;

}

#reviews-list li p {
	font-size: 13px;
}

#reviews-list p:first-child {
	font-weight: bold;
}

#reviews-list p:nth-child(2), #reviews-list p:nth-child(3) {
 display: inline;
 margin-right: 10px;
 padding-bottom: 20px;
 font-weight: bold;
}

#reviews-list p:nth-child(4) {
margin-top: 10px;
}

#reviews-list li:last-child {
	margin-bottom: 0;
}

/* Design for Small Screens */

@media screen and (min-width: 320px) and (max-width: 499px) {

	nav {
	  height: 50px;
	}

	nav h1 {
	  padding-top: 10px;
	  margin: auto; //check in 320
	}

	nav h1 a {
	  font-size: 18px;
	  letter-spacing: 2px;
	}

	.filter-options h2 {
	  display: none;
	}

	.filter-options {
		justify-content: center;
	}

/* Restaurant Page */

  .inside #maincontent {
    grid-template-columns: 100%;
    grid-template-rows: 10% 40% 50%;
    height: auto;
  }

  .inside #breadcrumb {
    grid-column-start: 1;
    grid-row-start: 1;
    margin: 0;
    padding: 8px 0px 8px 20px;
    background-color: #eee;
  }

  .inside #breadcrumb li {
    font-size: 14px;
  }

  .inside #info-block {
    margin: 0;
    grid-column-start: 1;
    grid-row-start: 3;
    height: auto;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .inside #map-container {
    padding: 0;
    margin: 0;
    grid-column-start: 1;
    grid-row-start: 2;
    height: auto;

  }

  .inside #map {
    background-color: #ccc;
    width: 100%;
    height: 250px;
  }

	#restaurant-container {
		height: auto;
		text-align: center;
		padding-bottom: 10px;
	}

	#restaurant-container .restaurant-img {
		min-width: 95%;
		max-width: 95%;
		display: block;
		margin: 10px auto;
	}

	#restaurant-name {
		font-size: 18px;
		padding: 0;
		margin: 0;
	}

	#restaurant-cuisine {
		margin: auto;
		width: 95%;
	}

/* Reviews */

	#reviews-container {
	 padding: 0;
	 order: 3;
	 height: auto;
	 margin: 10px auto 15px;
	 grid-column-start: 1;
	 grid-column-end: 1;
	 width: 90%;
	}

	#reviews-container h2 {
	 font-size: 20px;
	 text-align: center;
	 margin: 0;
	}

	#reviews-list li {
	 height: auto;
	 padding: 10px 10px 10px;

	}

	#reviews-list li p {
	 font-size: 13px;
	}

	#reviews-list p:first-child {
	 font-weight: bold;
	}

	#reviews-list p:nth-child(2), #reviews-list p:nth-child(3) {
	 display: inline;
	 margin-right: 10px;
	 padding-bottom: 20px;
	 font-weight: bold;
	}

	#reviews-list p:nth-child(4) {
	margin-top: 10px;
	}

}

@media screen and (min-width: 320px) and (max-width: 399px) {

	  .leaflet-bottom.leaflet-right .leaflet-control-attribution {
	    font-size: 0.7em;
	  }

	  #map {
	    height: 325px;
	  }

	#restaurants-list {
		padding: 0;
		margin-top: 0;
	}

	#restaurants-list li h1, #restaurants-list li p {
		margin: 5px 0 0;
		text-align: center;
	}

	#restaurants-list .restaurant-img {
		min-height: 100px;
		max-height: 250px;
	}
}

/* Screens between 400px and 499px */
@media screen and (min-width: 400px) and (max-width: 499px) {

		.leaflet-bottom.leaflet-right .leaflet-control-attribution {
	    font-size: 0.8em;
	  }

	  #map {
	    height: 300px;
	  }

		/* restaurants list */

		#restaurants-list {
			padding: 0;
			margin-top: 10px;
			margin-bottom: 10px;
		}

		.restaurants-list li {
			min-height: 160px;
		}

		.restaurants-list li h1 {
			padding-top: 10px;
			font-size: 14px;
			text-align: left;
		}

		#restaurant-hours td:nth-child(2) {
			text-align: right;
			max-width: 400px;
		}

}

@media screen and (min-width: 400px) and (max-width: 699px) {

	#restaurants-list {
	  padding: 0;
	  margin-top: 10px;
	  margin-bottom: 10px;
	}

	.restaurants-list li {
	  display: grid;
	  grid-template-columns: 47% 53%;
	  grid-template-rows: auto;
	  min-width: 90%;
	  max-width: 90%;
	  padding: 10px;
	  margin: 0 auto;
	  height: auto;
	}

	.restaurants-list .restaurant-img {
	  min-height: 100%;
	  min-width: 93%;
	  max-width: 93%;
	  grid-column-start: 1;
	  grid-row-start: 1;
	  grid-row-end: span 5;
	}

	.restaurants-list li h1 {
	  align-self: flex-end;
	  grid-column-start: 2;
	  grid-row-start: 1;
	  grid-row-end: 1;
	  margin: 0;
	}

	.restaurants-list p:nth-child(3) {
	 grid-column-start: 2;
	 grid-row-start: 2;
	 grid-row-end: span 1;
	}

	.restaurants-list p:nth-child(4) {
	   margin-right: 10px;
	   height: 25px;
	   grid-column-start: 2;
	   grid-row-start: 3;
	   grid-row-end: span 2;
	   align-self: baseline;
	}

	.restaurants-list li a {
	  display: block;
	   height: 20px;
	   line-height: 20px;
	   padding: 10px;
	   width: 50%;
	   margin: 0;
	   grid-column-start: 2;
	   grid-row-start: 5;
	   grid-row-end: 5;
	   align-self: flex-end;
	}

}

@media screen and (min-width: 500px) and (max-width: 599px) {

	/* Main page */
		#map {
			height: 350px;
		}

		.filter-options {
			justify-content: center;
		}

		.filter-options h2 {
			display: none;
		}

	/* Restaurant page */
		.inside #breadcrumb li {
			font-size: 14px;
		}

}

@media screen and (min-width: 600px) and (max-width: 699px) {
  #restaurants-list {
    display: flex;
    flex-direction: column;
    margin: 0;
		padding: 0 10px 0;
		align-items: center;
		max-width: 100%;

  }

	.restaurants-list li {
		margin: 10px auto 5px;
	}

	.restaurants-list .restaurant-img {
		grid-row-end: span 4;
	}

	.restaurants-list li h1 {
		align-self: flex-end;
		margin: 10px 0 0;
	}

	.restaurants-list li a {
		 grid-row-start: 4;
		 grid-row-end: 4;
	}

	#reviews-container {
		padding: 15px 20px;
	}

	#reviews-container h2 {
		margin-bottom: 10px;
		text-indent: 10px;
	}

}
/* screen sizes above 850px */
@media screen and (min-width: 850px) {

  body {
    min-width: 850px;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
		background-color: #eee;
  }

}